@model RegisterPersonViewModel
@{
    ViewBag.Title = string.Format("Cadastro -> {0}", Model.PersonType.GetDisplayName<PersonTypeEnum>());
}
<style>
    .errorBlock {
        font-size: smaller;
    }
</style>
@using (Ajax.BeginForm("Post", "RegisterPerson", new AjaxOptions() { HttpMethod = "post", OnComplete = "registerPerson.saveResult" }))
{
    Html.AntiForgeryToken();
    <fieldset>
        <legend>Geral</legend>

        <div class="input-control switch" data-role="input-control">
            <label class="inline-block" style="margin-right: 20px">
                Ativo
                @Html.CheckBoxFor(m => m.Person.IsActive)
                <span class="check"></span>
            </label>
        </div>

        @Html.LabelFor(m => m.Person.Name)
        <div class="input-control text size7" data-role="input-control">
            @Html.TextBoxFor(m => m.Person.Name, new { placeholder = "obrigatório" })
            @Html.ValidationMessageFor(m => m.Person.Name)
        </div>

        @Html.LabelFor(m => m.Person.Email)
        <div class="input-control text size7" data-role="input-control">
            @Html.TextBoxFor(m => m.Person.Email, new { placeholder = "obrigatório" })
            @Html.ValidationMessageFor(m => m.Person.Email)
        </div>
    </fieldset>

    if (Model.Person.Doctor != null && Model.Person.Doctor.ID > 0 || Model.PersonType == PersonTypeEnum.Doctor)
    {
        <div class="grid fluid">
            <div class="row">
                <div class="span12">
                    <div class="panel" data-role="panel">
                        <div class="panel-header bg-dark fg-white">
                            @Html.DisplayNameFor(m => m.Person.Doctor)
                        </div>
                        <div class="panel-content" style="display: block;">
                            <div class="input-control switch" data-role="input-control">
                                <label class="inline-block" style="margin-right: 20px">
                                    Ativo
                                    @Html.CheckBoxFor(m => m.Person.Doctor.IsActive)
                                    <span class="check"></span>
                                </label>
                            </div>

                            <div data-role-isactive="true">
                                @Html.LabelFor(m => m.Person.Doctor.AdmissionDate)
                                <div class="input-control text size4" data-role="datepicker" data-effect="slide">
                                    @Html.TextBoxFor(m => m.Person.Doctor.AdmissionDate)
                                    <button class="btn-date"></button>
                                    @Html.Partial("Widgets/_DatePicker")
                                    @Html.ValidationMessageFor(m => m.Person.Doctor.AdmissionDate)
                                </div>

                                @Html.LabelFor(m => m.Person.Doctor.Birthdate)
                                <div class="input-control text size4" data-role="datepicker" data-effect="slide">
                                    @Html.TextBoxFor(m => m.Person.Doctor.Birthdate)
                                    <button class="btn-date"></button>
                                    @Html.Partial("Widgets/_DatePicker")
                                    @Html.ValidationMessageFor(m => m.Person.Doctor.Birthdate)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="pull-right">
        <input type="reset" class="button large" value="Limpar" />
        <input type="reset" class="button large danger" value="Apagar" />
        <input type="submit" class="button large success" value="Salvar" />        
    </div>
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/ViewModels/RegisterPerson.js"></script>
}