@model RegisterPersonViewModel
@{
    ViewBag.Title = string.Format("Cadastro -> {0}", ViewBag.PageSmallTitle);
    var doctor = Model.Person.Doctor ?? new IkeMed.Model.Doctor();
}
<style>
    .errorBlock {
        font-size: smaller;
    }
</style>
<form>
    <fieldset>
        <legend>Geral</legend>

        <div class="input-control switch" data-role="input-control">
            <label class="inline-block" style="margin-right: 20px">
                Ativo
                <input type="checkbox" name="IsActive" checked="checked" data-error-message="Campo obrigatório">
                <span class="check"></span>
            </label>
        </div>

        <label>Nome</label>
        <div class="input-control text size7" data-role="input-control">
            <input type="text" name="Name" placeholder="obrigatório" data-error-message="Campo obrigatório" value="@Model.Person.Name">
        </div>

        <label>Email</label>
        <div class="input-control text size7" data-role="input-control">
            <input type="email" name="Email" placeholder="obrigatório" data-error-message="Campo obrigatório" value="@Model.Person.Email">
        </div>
    </fieldset>

    <div class="grid fluid">
        <div class="row">
            <div class="span12">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-darkBlue fg-white">
                        Médico
                    </div>
                    <div class="panel-content" style="display: block;">
                        <div class="input-control switch" data-role="input-control">
                            <label class="inline-block" style="margin-right: 20px">
                                Ativo
                                <input type="checkbox" name="IsActive" checked="checked" data-error-message="Campo obrigatório">
                                <span class="check"></span>
                            </label>
                        </div>

                        <label>Data de Admissão</label>
                        <div class="input-control text size3" data-role="datepicker" data-date="@doctor.AdmissionDate.ToString("yyyy-MM-dd")" data-effect="slide">
                            <input type="text" name="AdmissionDate" placeholder="obrigatório">
                            <button class="btn-date"></button>
                            @Html.Partial("Widgets/_DatePicker")
                        </div>

                        <label>Data de Nascimento</label>
                        <div class="input-control text size3" data-role="datepicker" data-date="@doctor.AdmissionDate.ToString("yyyy-MM-dd")" data-effect="slide">
                            <input type="text" name="Birthdate" placeholder="obrigatório">
                            <button class="btn-date"></button>
                            @Html.Partial("Widgets/_DatePicker")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>