@model RegisterPersonViewModel
@{
    ViewBag.Title = string.Format("Cadastro -> {0}", Model.PersonType.GetDisplayName<PersonTypeEnum>());
}
<style>
    .errorBlock {
        font-size: smaller;
    }
</style>
@using (Ajax.BeginForm("Post", "RegisterPerson", new AjaxOptions() { HttpMethod = "post", OnComplete = "registerPerson.saveResult" }))
{
    Html.AntiForgeryToken();
    <fieldset>
        <legend>Geral</legend>

        <div class="input-control switch" data-role="input-control">
            <label class="inline-block" style="margin-right: 20px">
                Ativo
                <input type="checkbox" id="Person_IsActive" name="Person.IsActive" checked="checked" data-error-message="Campo obrigatório" />
                <span class="check"></span>
            </label>
        </div>

        @Html.LabelFor(m => m.Person.Name)
        <div class="input-control text size7" data-role="input-control">
            @Html.TextBoxFor(m => m.Person.Name, new { placeholder = "obrigatório" })
        </div>

        @Html.LabelFor(m => m.Person.Email)
        <div class="input-control text size7" data-role="input-control">
            @Html.TextBoxFor(m => m.Person.Email, new { placeholder = "obrigatório" })
        </div>
    </fieldset>

    if (Model.Person.Doctor != null && Model.Person.Doctor.ID > 0 || Model.PersonType == PersonTypeEnum.Doctor)
    {
        <div class="grid fluid">
            <div class="row">
                <div class="span12">
                    <div class="panel" data-role="panel">
                        <div class="panel-header bg-dark fg-white">
                            @Html.DisplayNameFor(m => m.Person.Doctor)
                        </div>
                        <div class="panel-content" style="display: block;">
                            <div class="input-control switch" data-role="input-control">
                                <label class="inline-block" style="margin-right: 20px">
                                    Ativo
                                    <input type="checkbox" id="Person_Doctor_IsActive" name="Person.Doctor.IsActive" checked="checked" data-error-message="Campo obrigatório">
                                    <span class="check"></span>
                                </label>
                            </div>

                            @Html.LabelFor(m => m.Person.Doctor.AdmissionDate)
                            <div class="input-control text size3" data-role="datepicker" data-effect="slide">
                                @Html.TextBoxFor(m => m.Person.Doctor.AdmissionDate)
                                <button class="btn-date"></button>
                                @Html.Partial("Widgets/_DatePicker")
                            </div>

                            @Html.LabelFor(m => m.Person.Doctor.Birthdate)
                            <div class="input-control text size3" data-role="datepicker" data-effect="slide">
                                @Html.TextBoxFor(m => m.Person.Doctor.Birthdate)
                                <button class="btn-date"></button>
                                @Html.Partial("Widgets/_DatePicker")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <input type="submit" value="Salvar" />
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/ViewModels/RegisterPerson.js"></script>
}